* * * * * root /usr/local/bin/python /collabel/manage.py assign_rooms
* * * * * root ( sleep 15 ; /usr/local/bin/python /collabel/manage.py assign_rooms )
* * * * * root ( sleep 30 ; /usr/local/bin/python /collabel/manage.py assign_rooms )
* * * * * root ( sleep 45 ; /usr/local/bin/python /collabel/manage.py assign_rooms )
# Don't remove the empty line at the end of this file. It is required to run the cron job
